<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&family=Yeseva+One&display=swap" rel="stylesheet">
    {% assets "scss" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <title>{% block title %}{% endblock %} -Bookcase</title>
</head>
<body>
    <header>      
        <div id="nav-bar">    
            <p id="logo">Bookcase</p> 
        </div>
    </header>
    <main class="auth-main">
        {% block left_image %}
        {% endblock %}
        <div class="auth-main--right">
            <h1>{% block greeting %} {% endblock %}</h1>
            {% block form %}
            {% endblock %}

        
            {% block action_link %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p id="footer__content">Author: Destiny Perine</p>
    </footer>
</body>
</html>