{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h3 align="center">Login</h3>
    <form method="post" action="{{ url_for('auth_bp.login')}}">
        {{ form.csrf_token }}
        {{ form.email.label }}
        {{ form.email }}
        <div>
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.password.label }}
        {{ form.password }}
        <div>
            {% for error in form.password.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit" value="Submit">Enter</button>
    </form>
{% endblock %}