{% extends "base-redo.html" %}

{% block title %}Add Borrower{% endblock %}

{% block content %}
    <div class="smallforms">
        <h1>Add Borrower</h1>
        <form class="edit-form" method="post" action="{{ url_for('borrower_bp.add_borrower') }}">
            {{ form.csrf_token }}
            <div>
                <div>
                    {{ form.fname }}
                    <div>
                        {% for error in form.fname.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {{ form.lname }}
                    <div>
                        {% for error in form.lname.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <button class="form-btn form-btn--orange" type="submit" value="Submit">Submit Changes</button>
                    <button class="form-btn form-btn--red" type="submit" value="Submit">Cancel Changes</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}