{% extends "base.html" %}

{% block title %}Update{% endblock %}
{% block content %}
    <div align="center">
        <h1>{{ book.title }}</h1>
        <p>Isbn: {{ book.isbn }}</p>
        {% if book.book_status %}
            <p>Book Status: <b>IN</b></p>
        {% else %}
            <p>Due: {{ book.due_date }}</p>
            <p>Book Status: <b>OUT</b></p>
        {% endif %}
        
    </div>
    <div align="center">
        {% if book.book_status %}
            <a href="../change-status/{{ book.isbn }}">Checkout</a>
        {% else %}
            <a href="../change-status/{{ book.isbn }}">Check In</a>
        {% endif %}
        <a href="../update-book/{{ book.isbn }}">Update</button>
        <a href="../delete-book/{{ book.isbn }}">Delete</a>
    </div>
{% endblock %}