{% extends "base-redo.html" %}

{% block content %}
    <div class="smallforms">
        <h1>Update Budget</h1>
        <form class="edit-form" method="post" action="{{ url_for('budget_bp.change_budget') }}">
            <div>
            <div>
                {{ form.csrf_token }}
                {{ form.bookprice }}
                <div>
                    {% for error in form.bookprice.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div>
                <button class="form-btn form-btn--orange" type="submit" value="Submit">Submit Changes</button>
                <button class="form-btn form-btn--red" type="submit" value="Submit">Cancel Changes</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}