{% extends "base.html" %}

{% block title %}My Budget{% endblock %}

{% block content %}
    <h1>Change Budget</h1>
    <form method="post" action="{{ url_for('budget_bp.change_budget') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.bookprice.label }}
            {{ form.bookprice }}
            <div>
                {% for error in form.bookprice.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary" type="submit" value="Submit">Enter</button>
    </form>
{% endblock %}