{% extends "base.html" %}

{% block title %}Update Price{% endblock %}

{% block content %}
<h1>Update Price</h1>
<form method="post" action="{{ url_for('budget_bp.update_bookprice', isbn=book.isbn) }}">
    <div class="form-group">
        {{ form.csrf_token }}
        {{ form.bookprice.label }}
        {{ form.bookprice }}
        <div>
            {% for error in form.bookprice.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-primary" type="submit" value="Submit">Enter</button>
</form>

{% endblock %}