{% extends "base-redo.html" %}

{% block title %}Update Price{% endblock %}

{% block content %}
    <div class="update_bookprice-bg">
        <h1>Update {{ book.title }}'s Price</h1>
        <form class="edit-form" method="post" action="{{ url_for('budget_bp.update_bookprice', isbn=book.isbn) }}">
            <div>
                {{ form.csrf_token }}
                {{ form.bookprice }}
                <div>
                    {% for error in form.bookprice.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div>
                <button class="form-btn form-btn--orange" type="submit" value="Submit">Submit Changes</button>
                <button class="form-btn form-btn--red" type="submit" value="Submit">Cancel Changes</button>
            </div>
        </form>
    </div>
{% endblock %}