{% extends 'base-redo.html' %}


{% block content %}
<main id="book-profile__main">
    <div>
        <a class="profile-links" href="{{ url_for('book_bp.bookcase') }}">Return</a>
        {% if book.overdue %}
            <p>Status: Overdue</p>
        {% elif book.status %}
            <p>Status: In</p>
        {% else %}
            <p>Status: Out</p>
        {% endif %}
        <img src="images/download.png">
    </div>
    <div id="book-info">
        <h1>{{ book.title }}</h1>
        <div id="book-info__spans">
            <span>
                {% if not book.status %}
                    <p>Borrower:</p>
                {% endif %}
                <p>Due Date:</p>
                <p>ISBN:</p>
                <p>Authors:</p>
                <p>Description:</p>
            </span>
            <span>
                {% if not book.status %}
                    <p>{{book.fname}} {{book.lname }}</p>
                {% endif %}
                <p>{{ book.due_date }} <a class="profile-links" href="{{ url_for('book_bp.update_duedate', isbn=book.isbn) }}">Edit</a></p>
                <p>{{ book.isbn }}</p>
                <p>{{ book.name }}</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </span>
        </div>
        {% if book.status %}
        <div class="profile-btn" id="profile-btn--status">
            <a href="{{ url_for('borrower_bp.view_choose_borrower', isbn=book.isbn) }}">Check Out</a>
        </div>
        {% else %}
        <div class="profile-btn" id="profile-btn--status">
            <a href="{{ url_for('book_bp.returnBook', isbn=book.isbn) }}">Check In</a>
        </div>
        {% endif %}
        <div class="profile-btn" id="profile-btn--delete">
            <a href="{{ url_for('book_bp.delete_book', isbn=book.isbn) }}">Delete</a>
        </div>
    </div>
</main>
{% endblock %}