{% extends "base.html" %}

{% block title %}View Bookcase{% endblock %}

{% block content %}
<h1 align='center'>Bookcase</h1>
<form method="POST">
    <div>
      <input type="text" name="q" class="form-control">
    </div>
    <p>
      <button type="submit" name="submit" value="search">Search</button>
    </p>
</form>
    <ul>
        {% for book in books %}
            <div>
                {% for identifier in book["volumeInfo"]["industryIdentifiers"] %}
                    {% if identifier["type"] == "ISBN_13" %}
                        {% set profile = "http://127.0.0.1:5000/bookcase/gbook-profile?link=" + book["selfLink"] %}
                        <a href="{{ profile }}">{{ book['volumeInfo']['title'] }}</a>
                        {% for author in book["volumeInfo"]["authors"] %}
                            <p>{{ author }}</p>
                        {% endfor %}  
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </ul>
    {% if books %}
        {% for i in range(1, 21) %}
            <a href="{{ url_for('book_bp.browse_books', page=i) }}">{{ i }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}