{% extends "base.html" %}

{% block title %}View Bookcase{% endblock %}

{% block content %}
<h1 align='center'>Bookcase</h1>
<form method="POST">
    <div>
      <input type="text" name="q" class="form-control">
    </div>
    <p>
      <button type="submit" name="submit" value="search">Search</button>
    </p>
</form>
    <ul>
        {% for book in books %}
            <div>
                {% for identifier in book["volumeInfo"]["industryIdentifiers"] %}
                    {% if identifier["type"] == "ISBN_13" %}
                        {% set profile = "http://127.0.0.1:5000/bookcase/gbook-profile?link=" + book["selfLink"] %}
                        <a href="{{ profile }}">{{ book['volumeInfo']['title'] }}</a>
                        {% for author in book["volumeInfo"]["authors"] %}
                            <p>{{ author }}</p>
                        {% endfor %}  
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </ul>
    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num %}
        {% if bookss.page == page_num %}
          <a href="{{ url_for('browse_books', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a href="{{ url_for('browse_books', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock %}